// Required SASS modules:
@use "sass:map"; // access values in arrays
@use "sass:color"; // color manipulation
@use 'functions' as *;
@use 'variables' as *;

.Backgrounds {
  .Solids {
    // base color styles generation
    @each $key, $value in $colors {
      .#{$key} {
        background-color: $value;
      }
    }
  }

  .Gradients {
    .Gradient-Primary {
      background-color: linear-gradient(
        45deg,
        map.get($colors, Primary),
        map.get($colors, Secondary)
      );
    }
  }

  .Neutrals {
    @for $index from 1 through 7 {
      .Neutral-#{$index} {
        background-color: tint(map.get($colors, Dark), 45% + ($index) * 50%/7);
      }
    }
  }
}
